<nav class="navbar navbar-expand-lg navbar-dark app-bg-green-primary">
<div class="container-fluid ps-0">
  <a class="btn app-color-blue-dark" href="<%= admin_home_path %>"><i class="fa-solid fa-arrow-left fs-4" ></i></a>
  <a class="navbar-brand me-auto tw-bold" href="#">新公告</a>
</div>
</nav>

<%= render 'layouts/flash_toast' %>

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-12 mt-5">
          <%= form_with model: @announcement, url: admin_announcement_path, method: :post, class: "needs-validation", html: { novalidate: true } do |f| %>
            <div class="input-group mb-3">
              <span class="input-group-text">主题</span>
              <%= f.text_field :title, class: "form-control", required: true %>
              <div class="invalid-feedback">
                必填
              </div>
            </div>      

            <div class="input-group mb-4">
              <span class="input-group-text">内容</span>
              <%= f.text_area :content, rows: '7', class: "form-control", required: true %>
              <div class="invalid-feedback">
                必填
              </div>
            </div>
            
            <%= f.submit '发布', class: 'button-submit d-block mx-auto' %>
          <% end %>
        <div>
    </div>
</div>        
</nav>


<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

document.querySelectorAll('.increment-button').forEach( button =>
    button.addEventListener('click', () => button.previousElementSibling.stepUp() )
);

document.querySelectorAll('.decrement-button').forEach( button =>
    button.addEventListener('click', () => button.nextElementSibling.stepDown() )
);

</script>