<%= render 'nav' %>
<%= render 'layouts/flash_toast' %>

<div class="container-md pt-4 pt-md-5 pb-5">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">

<% @problematic_reports.each do |r| %>
<div class="col">
  <div class="card bg-light border-success text-dark box-shadow">
    <div class="card-header app-color-blue-dark fw-bold fs-4">
      <%= "ID: #{r.reporter.id}" %>
    </div>
    <div class="card-body">
      <%= image_tag 'patient_avatar.png', class: "card-img-top" %>

      <h6 class="card-subtitle text-muted">症状</h6>
      <p class="card-text"><%= "#{r.valid_symptons.join('，')}" %></p>
      <h6 class="card-subtitle text-muted">备注</h6>
      <p class="card-text"><%= r.remark %></p>
      <%= link_to "回复", doctor_message_path + "?report_id=#{r.id}", class: "btn btn-success stretched-link" %>
    </div>
    <div class="card-footer text-muted text-center">
      <%= "#{r.days_ago}天前" %>
    </div>
  </div>
</div>
<% end %>

</div>
</div>
